@media (max-width: 768px) {
  main figure {
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
  }

  main figure h1 {
    text-align: center;
  }

  .techstack ul {
    grid-template-columns: repeat(2, 200px);
    align-content: center;
    justify-content: center;
  }
}
