{% extends 'main.html' %} {% block header %} {% load static %}
<link rel="stylesheet" href="{% static 'styles/index/index.css' %}" />
<title>Portfolio</title>
{% endblock header %} {% block main %}
<header>
  {% include "navbar.html" %}
  <section class="hero">
    <figure>
      <img src="{{profile.image.url}}" alt="" />
      <figcaption>
        <h3>Hi, my name is</h3>
        <h1>Ramsy Mwale</h1>
        <p>i'm a software developer</p>
      </figcaption>
    </figure>
  </section>
</header>
{% include 'footer.html' %} {% endblock main %}
