<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Amarante&display=swap"
      rel="stylesheet"
    />

    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/common/navbar.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/common/resets.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/common/footer.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'styles/common/responsive.resets.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'styles/common/responsive.navbar.css' %}"
    />

    {% block header %} {% endblock %}
  </head>
  <body>
    {% block main %} {% endblock %}
    <script src="{% static 'scripts\navbar.js' %}" defer></script>
  </body>
</html>
